<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hus.oop_classroom">

    <application
        android:allowBackup="true"
        android:icon="@drawable/room"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name=".Navigation.AppRating"></activity>
        <activity android:name=".Navigation.Share" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/app_bar_home" />

        <activity android:name=".Navigation.Lectures" />
        <activity android:name=".Setting" />
        <activity android:name=".Navigation.Announcements" />
        <activity android:name=".Navigation.Course" />
        <activity android:name=".Navigation.Events" />
        <activity android:name=".Navigation.UserProfile" />
        <activity android:name=".Home" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.OOPClassroom.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
    </application>

</manifest>